# Ignore Python compiled files and cache
__pycache__/
*.py[cod]
*.pyo

# Ignore environment and package-related files
*.env
*.venv
*.envrc
*.egg-info/
pip-log.txt

# Ignore configuration files
config/authtoken.py

# Ignore Gradio specific files
.gradio/

# Ignore Git specific files
.git/

# Ignore system files
.DS_Store
Thumbs.db
